
.vs/CourseWork/DesignTimeBuild/.dtbcache.v2
.vs/CourseWork/project-colors.json
.vs/CourseWork/v17/.futdcache.v1
.vs/CourseWork/v17/.suo
.vscode/launch.json
.vscode/tasks.json
obj/CourseWork.csproj.nuget.dgspec.json
obj/CourseWork.csproj.nuget.g.props
obj/CourseWork.csproj.nuget.g.targets
obj/CourseWork_sttcxhfn_wpftmp.csproj.nuget.dgspec.json
obj/CourseWork_sttcxhfn_wpftmp.csproj.nuget.g.props
obj/CourseWork_sttcxhfn_wpftmp.csproj.nuget.g.targets
obj/CourseWork_tss3nmua_wpftmp.csproj.nuget.dgspec.json
obj/CourseWork_tss3nmua_wpftmp.csproj.nuget.g.props
obj/CourseWork_tss3nmua_wpftmp.csproj.nuget.g.targets
obj/CourseWork_z4pohqs1_wpftmp.csproj.nuget.dgspec.json
obj/CourseWork_z4pohqs1_wpftmp.csproj.nuget.g.props
obj/CourseWork_z4pohqs1_wpftmp.csproj.nuget.g.targets
obj/Debug/net6.0-windows/.NETCoreApp,Version=v6.0.AssemblyAttributes.cs
obj/Debug/net6.0-windows/App.g.cs
obj/Debug/net6.0-windows/App.g.i.cs
obj/Debug/net6.0-windows/apphost.exe
obj/Debug/net6.0-windows/CourseWork.AssemblyInfo.cs
obj/Debug/net6.0-windows/CourseWork.AssemblyInfoInputs.cache
obj/Debug/net6.0-windows/CourseWork.assets.cache
obj/Debug/net6.0-windows/CourseWork.csproj.AssemblyReference.cache
obj/Debug/net6.0-windows/CourseWork.csproj.CoreCompileInputs.cache
obj/Debug/net6.0-windows/CourseWork.csproj.FileListAbsolute.txt
obj/Debug/net6.0-windows/CourseWork.designer.deps.json
obj/Debug/net6.0-windows/CourseWork.designer.runtimeconfig.json
obj/Debug/net6.0-windows/CourseWork.dll
obj/Debug/net6.0-windows/CourseWork.g.resources
obj/Debug/net6.0-windows/CourseWork.GeneratedMSBuildEditorConfig.editorconfig
obj/Debug/net6.0-windows/CourseWork.genruntimeconfig.cache
obj/Debug/net6.0-windows/CourseWork.pdb
obj/Debug/net6.0-windows/CourseWork_0yuzggbj_wpftmp.AssemblyInfo.cs
obj/Debug/net6.0-windows/CourseWork_0yuzggbj_wpftmp.AssemblyInfoInputs.cache
obj/Debug/net6.0-windows/CourseWork_0yuzggbj_wpftmp.assets.cache
obj/Debug/net6.0-windows/CourseWork_0yuzggbj_wpftmp.GeneratedMSBuildEditorConfig.editorconfig
obj/Debug/net6.0-windows/CourseWork_14hig4cw_wpftmp.AssemblyInfo.cs
obj/Debug/net6.0-windows/CourseWork_14hig4cw_wpftmp.AssemblyInfoInputs.cache
obj/Debug/net6.0-windows/CourseWork_14hig4cw_wpftmp.assets.cache
obj/Debug/net6.0-windows/CourseWork_14hig4cw_wpftmp.GeneratedMSBuildEditorConfig.editorconfig
obj/Debug/net6.0-windows/CourseWork_1qauht2m_wpftmp.AssemblyInfo.cs
obj/Debug/net6.0-windows/CourseWork_1qauht2m_wpftmp.AssemblyInfoInputs.cache
obj/Debug/net6.0-windows/CourseWork_1qauht2m_wpftmp.assets.cache
obj/Debug/net6.0-windows/CourseWork_1qauht2m_wpftmp.GeneratedMSBuildEditorConfig.editorconfig
obj/Debug/net6.0-windows/CourseWork_25ttsghe_wpftmp.AssemblyInfo.cs
obj/Debug/net6.0-windows/CourseWork_25ttsghe_wpftmp.AssemblyInfoInputs.cache
obj/Debug/net6.0-windows/CourseWork_25ttsghe_wpftmp.assets.cache
obj/Debug/net6.0-windows/CourseWork_25ttsghe_wpftmp.GeneratedMSBuildEditorConfig.editorconfig
obj/Debug/net6.0-windows/CourseWork_31rh0c0x_wpftmp.AssemblyInfo.cs
obj/Debug/net6.0-windows/CourseWork_31rh0c0x_wpftmp.AssemblyInfoInputs.cache
obj/Debug/net6.0-windows/CourseWork_31rh0c0x_wpftmp.assets.cache
obj/Debug/net6.0-windows/CourseWork_31rh0c0x_wpftmp.GeneratedMSBuildEditorConfig.editorconfig
obj/Debug/net6.0-windows/CourseWork_3kw0iqk2_wpftmp.AssemblyInfo.cs
obj/Debug/net6.0-windows/CourseWork_3kw0iqk2_wpftmp.AssemblyInfoInputs.cache
obj/Debug/net6.0-windows/CourseWork_3kw0iqk2_wpftmp.assets.cache
obj/Debug/net6.0-windows/CourseWork_3kw0iqk2_wpftmp.GeneratedMSBuildEditorConfig.editorconfig
obj/Debug/net6.0-windows/CourseWork_3riquhif_wpftmp.AssemblyInfo.cs
obj/Debug/net6.0-windows/CourseWork_3riquhif_wpftmp.AssemblyInfoInputs.cache
obj/Debug/net6.0-windows/CourseWork_3riquhif_wpftmp.assets.cache
obj/Debug/net6.0-windows/CourseWork_3riquhif_wpftmp.GeneratedMSBuildEditorConfig.editorconfig
obj/Debug/net6.0-windows/CourseWork_4ifizwju_wpftmp.AssemblyInfo.cs
obj/Debug/net6.0-windows/CourseWork_4ifizwju_wpftmp.AssemblyInfoInputs.cache
obj/Debug/net6.0-windows/CourseWork_4ifizwju_wpftmp.assets.cache
obj/Debug/net6.0-windows/CourseWork_4ifizwju_wpftmp.GeneratedMSBuildEditorConfig.editorconfig
obj/Debug/net6.0-windows/CourseWork_4lxekwvs_wpftmp.AssemblyInfo.cs
obj/Debug/net6.0-windows/CourseWork_4lxekwvs_wpftmp.AssemblyInfoInputs.cache
obj/Debug/net6.0-windows/CourseWork_4lxekwvs_wpftmp.assets.cache
obj/Debug/net6.0-windows/CourseWork_4lxekwvs_wpftmp.GeneratedMSBuildEditorConfig.editorconfig
obj/Debug/net6.0-windows/CourseWork_5jjnbqfe_wpftmp.AssemblyInfo.cs
obj/Debug/net6.0-windows/CourseWork_5jjnbqfe_wpftmp.AssemblyInfoInputs.cache
obj/Debug/net6.0-windows/CourseWork_5jjnbqfe_wpftmp.assets.cache
obj/Debug/net6.0-windows/CourseWork_5jjnbqfe_wpftmp.GeneratedMSBuildEditorConfig.editorconfig
obj/Debug/net6.0-windows/CourseWork_ajvhjauh_wpftmp.AssemblyInfo.cs
obj/Debug/net6.0-windows/CourseWork_ajvhjauh_wpftmp.AssemblyInfoInputs.cache
obj/Debug/net6.0-windows/CourseWork_ajvhjauh_wpftmp.assets.cache
obj/Debug/net6.0-windows/CourseWork_ajvhjauh_wpftmp.GeneratedMSBuildEditorConfig.editorconfig
obj/Debug/net6.0-windows/CourseWork_chvoz4ng_wpftmp.AssemblyInfo.cs
obj/Debug/net6.0-windows/CourseWork_chvoz4ng_wpftmp.AssemblyInfoInputs.cache
obj/Debug/net6.0-windows/CourseWork_chvoz4ng_wpftmp.assets.cache
obj/Debug/net6.0-windows/CourseWork_chvoz4ng_wpftmp.GeneratedMSBuildEditorConfig.editorconfig
obj/Debug/net6.0-windows/CourseWork_d5in3eba_wpftmp.AssemblyInfo.cs
obj/Debug/net6.0-windows/CourseWork_d5in3eba_wpftmp.AssemblyInfoInputs.cache
obj/Debug/net6.0-windows/CourseWork_d5in3eba_wpftmp.assets.cache
obj/Debug/net6.0-windows/CourseWork_d5in3eba_wpftmp.GeneratedMSBuildEditorConfig.editorconfig
obj/Debug/net6.0-windows/CourseWork_datnkj4o_wpftmp.AssemblyInfo.cs
obj/Debug/net6.0-windows/CourseWork_datnkj4o_wpftmp.AssemblyInfoInputs.cache
obj/Debug/net6.0-windows/CourseWork_datnkj4o_wpftmp.assets.cache
obj/Debug/net6.0-windows/CourseWork_datnkj4o_wpftmp.GeneratedMSBuildEditorConfig.editorconfig
obj/Debug/net6.0-windows/CourseWork_drrmimuu_wpftmp.AssemblyInfo.cs
obj/Debug/net6.0-windows/CourseWork_drrmimuu_wpftmp.AssemblyInfoInputs.cache
obj/Debug/net6.0-windows/CourseWork_drrmimuu_wpftmp.assets.cache
obj/Debug/net6.0-windows/CourseWork_drrmimuu_wpftmp.GeneratedMSBuildEditorConfig.editorconfig
obj/Debug/net6.0-windows/CourseWork_eluxuudb_wpftmp.AssemblyInfo.cs
obj/Debug/net6.0-windows/CourseWork_eluxuudb_wpftmp.AssemblyInfoInputs.cache
obj/Debug/net6.0-windows/CourseWork_eluxuudb_wpftmp.assets.cache
obj/Debug/net6.0-windows/CourseWork_eluxuudb_wpftmp.GeneratedMSBuildEditorConfig.editorconfig
obj/Debug/net6.0-windows/CourseWork_g4i0vnhq_wpftmp.AssemblyInfo.cs
obj/Debug/net6.0-windows/CourseWork_g4i0vnhq_wpftmp.AssemblyInfoInputs.cache
obj/Debug/net6.0-windows/CourseWork_g4i0vnhq_wpftmp.assets.cache
obj/Debug/net6.0-windows/CourseWork_g4i0vnhq_wpftmp.GeneratedMSBuildEditorConfig.editorconfig
obj/Debug/net6.0-windows/CourseWork_h5v2wt0p_wpftmp.AssemblyInfo.cs
obj/Debug/net6.0-windows/CourseWork_h5v2wt0p_wpftmp.AssemblyInfoInputs.cache
obj/Debug/net6.0-windows/CourseWork_h5v2wt0p_wpftmp.assets.cache
obj/Debug/net6.0-windows/CourseWork_h5v2wt0p_wpftmp.GeneratedMSBuildEditorConfig.editorconfig
obj/Debug/net6.0-windows/CourseWork_hde2end2_wpftmp.AssemblyInfo.cs
obj/Debug/net6.0-windows/CourseWork_hde2end2_wpftmp.AssemblyInfoInputs.cache
obj/Debug/net6.0-windows/CourseWork_hde2end2_wpftmp.assets.cache
obj/Debug/net6.0-windows/CourseWork_hde2end2_wpftmp.GeneratedMSBuildEditorConfig.editorconfig
obj/Debug/net6.0-windows/CourseWork_hqcopiuk_wpftmp.AssemblyInfo.cs
obj/Debug/net6.0-windows/CourseWork_hqcopiuk_wpftmp.AssemblyInfoInputs.cache
obj/Debug/net6.0-windows/CourseWork_hqcopiuk_wpftmp.assets.cache
obj/Debug/net6.0-windows/CourseWork_hqcopiuk_wpftmp.GeneratedMSBuildEditorConfig.editorconfig
obj/Debug/net6.0-windows/CourseWork_ifbyszxh_wpftmp.AssemblyInfo.cs
obj/Debug/net6.0-windows/CourseWork_ifbyszxh_wpftmp.AssemblyInfoInputs.cache
obj/Debug/net6.0-windows/CourseWork_ifbyszxh_wpftmp.assets.cache
obj/Debug/net6.0-windows/CourseWork_ifbyszxh_wpftmp.GeneratedMSBuildEditorConfig.editorconfig
obj/Debug/net6.0-windows/CourseWork_iiqqepqt_wpftmp.AssemblyInfo.cs
obj/Debug/net6.0-windows/CourseWork_iiqqepqt_wpftmp.AssemblyInfoInputs.cache
obj/Debug/net6.0-windows/CourseWork_iiqqepqt_wpftmp.assets.cache
obj/Debug/net6.0-windows/CourseWork_iiqqepqt_wpftmp.GeneratedMSBuildEditorConfig.editorconfig
obj/Debug/net6.0-windows/CourseWork_im1itlci_wpftmp.AssemblyInfo.cs
obj/Debug/net6.0-windows/CourseWork_im1itlci_wpftmp.AssemblyInfoInputs.cache
obj/Debug/net6.0-windows/CourseWork_im1itlci_wpftmp.assets.cache
obj/Debug/net6.0-windows/CourseWork_im1itlci_wpftmp.GeneratedMSBuildEditorConfig.editorconfig
obj/Debug/net6.0-windows/CourseWork_ituuucza_wpftmp.AssemblyInfo.cs
obj/Debug/net6.0-windows/CourseWork_ituuucza_wpftmp.AssemblyInfoInputs.cache
obj/Debug/net6.0-windows/CourseWork_ituuucza_wpftmp.assets.cache
obj/Debug/net6.0-windows/CourseWork_ituuucza_wpftmp.GeneratedMSBuildEditorConfig.editorconfig
obj/Debug/net6.0-windows/CourseWork_kresjjlq_wpftmp.AssemblyInfo.cs
obj/Debug/net6.0-windows/CourseWork_kresjjlq_wpftmp.AssemblyInfoInputs.cache
obj/Debug/net6.0-windows/CourseWork_kresjjlq_wpftmp.assets.cache
obj/Debug/net6.0-windows/CourseWork_kresjjlq_wpftmp.GeneratedMSBuildEditorConfig.editorconfig
obj/Debug/net6.0-windows/CourseWork_lhvdbxlf_wpftmp.AssemblyInfo.cs
obj/Debug/net6.0-windows/CourseWork_lhvdbxlf_wpftmp.AssemblyInfoInputs.cache
obj/Debug/net6.0-windows/CourseWork_lhvdbxlf_wpftmp.assets.cache
obj/Debug/net6.0-windows/CourseWork_lhvdbxlf_wpftmp.GeneratedMSBuildEditorConfig.editorconfig
obj/Debug/net6.0-windows/CourseWork_lmcw2igh_wpftmp.AssemblyInfo.cs
obj/Debug/net6.0-windows/CourseWork_lmcw2igh_wpftmp.AssemblyInfoInputs.cache
obj/Debug/net6.0-windows/CourseWork_lmcw2igh_wpftmp.assets.cache
obj/Debug/net6.0-windows/CourseWork_lmcw2igh_wpftmp.GeneratedMSBuildEditorConfig.editorconfig
obj/Debug/net6.0-windows/CourseWork_ltsr5v50_wpftmp.AssemblyInfo.cs
obj/Debug/net6.0-windows/CourseWork_ltsr5v50_wpftmp.AssemblyInfoInputs.cache
obj/Debug/net6.0-windows/CourseWork_ltsr5v50_wpftmp.assets.cache
obj/Debug/net6.0-windows/CourseWork_ltsr5v50_wpftmp.GeneratedMSBuildEditorConfig.editorconfig
obj/Debug/net6.0-windows/CourseWork_lvn0y4fi_wpftmp.AssemblyInfo.cs
obj/Debug/net6.0-windows/CourseWork_lvn0y4fi_wpftmp.AssemblyInfoInputs.cache
obj/Debug/net6.0-windows/CourseWork_lvn0y4fi_wpftmp.assets.cache
obj/Debug/net6.0-windows/CourseWork_lvn0y4fi_wpftmp.GeneratedMSBuildEditorConfig.editorconfig
obj/Debug/net6.0-windows/CourseWork_m131dxp3_wpftmp.AssemblyInfo.cs
obj/Debug/net6.0-windows/CourseWork_m131dxp3_wpftmp.AssemblyInfoInputs.cache
obj/Debug/net6.0-windows/CourseWork_m131dxp3_wpftmp.assets.cache
obj/Debug/net6.0-windows/CourseWork_m131dxp3_wpftmp.GeneratedMSBuildEditorConfig.editorconfig
obj/Debug/net6.0-windows/CourseWork_MarkupCompile.cache
obj/Debug/net6.0-windows/CourseWork_MarkupCompile.i.cache
obj/Debug/net6.0-windows/CourseWork_MarkupCompile.lref
obj/Debug/net6.0-windows/CourseWork_mxwsuqxa_wpftmp.AssemblyInfo.cs
obj/Debug/net6.0-windows/CourseWork_mxwsuqxa_wpftmp.AssemblyInfoInputs.cache
obj/Debug/net6.0-windows/CourseWork_mxwsuqxa_wpftmp.assets.cache
obj/Debug/net6.0-windows/CourseWork_mxwsuqxa_wpftmp.GeneratedMSBuildEditorConfig.editorconfig
obj/Debug/net6.0-windows/CourseWork_o5uafz21_wpftmp.AssemblyInfo.cs
obj/Debug/net6.0-windows/CourseWork_o5uafz21_wpftmp.AssemblyInfoInputs.cache
obj/Debug/net6.0-windows/CourseWork_o5uafz21_wpftmp.assets.cache
obj/Debug/net6.0-windows/CourseWork_o5uafz21_wpftmp.GeneratedMSBuildEditorConfig.editorconfig
obj/Debug/net6.0-windows/CourseWork_omgum2wp_wpftmp.AssemblyInfo.cs
obj/Debug/net6.0-windows/CourseWork_omgum2wp_wpftmp.AssemblyInfoInputs.cache
obj/Debug/net6.0-windows/CourseWork_omgum2wp_wpftmp.assets.cache
obj/Debug/net6.0-windows/CourseWork_omgum2wp_wpftmp.GeneratedMSBuildEditorConfig.editorconfig
obj/Debug/net6.0-windows/CourseWork_pj0rq5pm_wpftmp.AssemblyInfo.cs
obj/Debug/net6.0-windows/CourseWork_pj0rq5pm_wpftmp.AssemblyInfoInputs.cache
obj/Debug/net6.0-windows/CourseWork_pj0rq5pm_wpftmp.assets.cache
obj/Debug/net6.0-windows/CourseWork_pj0rq5pm_wpftmp.GeneratedMSBuildEditorConfig.editorconfig
obj/Debug/net6.0-windows/CourseWork_pr0urbvr_wpftmp.AssemblyInfo.cs
obj/Debug/net6.0-windows/CourseWork_pr0urbvr_wpftmp.AssemblyInfoInputs.cache
obj/Debug/net6.0-windows/CourseWork_pr0urbvr_wpftmp.assets.cache
obj/Debug/net6.0-windows/CourseWork_pr0urbvr_wpftmp.GeneratedMSBuildEditorConfig.editorconfig
obj/Debug/net6.0-windows/CourseWork_qdatm3sh_wpftmp.AssemblyInfo.cs
obj/Debug/net6.0-windows/CourseWork_qdatm3sh_wpftmp.AssemblyInfoInputs.cache
obj/Debug/net6.0-windows/CourseWork_qdatm3sh_wpftmp.assets.cache
obj/Debug/net6.0-windows/CourseWork_qdatm3sh_wpftmp.GeneratedMSBuildEditorConfig.editorconfig
obj/Debug/net6.0-windows/CourseWork_qwwkugj4_wpftmp.AssemblyInfo.cs
obj/Debug/net6.0-windows/CourseWork_qwwkugj4_wpftmp.AssemblyInfoInputs.cache
obj/Debug/net6.0-windows/CourseWork_qwwkugj4_wpftmp.assets.cache
obj/Debug/net6.0-windows/CourseWork_qwwkugj4_wpftmp.GeneratedMSBuildEditorConfig.editorconfig
obj/Debug/net6.0-windows/CourseWork_qzyf02mx_wpftmp.AssemblyInfo.cs
obj/Debug/net6.0-windows/CourseWork_qzyf02mx_wpftmp.AssemblyInfoInputs.cache
obj/Debug/net6.0-windows/CourseWork_qzyf02mx_wpftmp.assets.cache
obj/Debug/net6.0-windows/CourseWork_qzyf02mx_wpftmp.GeneratedMSBuildEditorConfig.editorconfig
obj/Debug/net6.0-windows/CourseWork_rlfg5agf_wpftmp.AssemblyInfo.cs
obj/Debug/net6.0-windows/CourseWork_rlfg5agf_wpftmp.AssemblyInfoInputs.cache
obj/Debug/net6.0-windows/CourseWork_rlfg5agf_wpftmp.assets.cache
obj/Debug/net6.0-windows/CourseWork_rlfg5agf_wpftmp.GeneratedMSBuildEditorConfig.editorconfig
obj/Debug/net6.0-windows/CourseWork_rmech1cs_wpftmp.AssemblyInfo.cs
obj/Debug/net6.0-windows/CourseWork_rmech1cs_wpftmp.AssemblyInfoInputs.cache
obj/Debug/net6.0-windows/CourseWork_rmech1cs_wpftmp.assets.cache
obj/Debug/net6.0-windows/CourseWork_rmech1cs_wpftmp.GeneratedMSBuildEditorConfig.editorconfig
obj/Debug/net6.0-windows/CourseWork_s5cn4j5r_wpftmp.AssemblyInfo.cs
obj/Debug/net6.0-windows/CourseWork_s5cn4j5r_wpftmp.AssemblyInfoInputs.cache
obj/Debug/net6.0-windows/CourseWork_s5cn4j5r_wpftmp.assets.cache
obj/Debug/net6.0-windows/CourseWork_s5cn4j5r_wpftmp.GeneratedMSBuildEditorConfig.editorconfig
obj/Debug/net6.0-windows/CourseWork_sbf4ogbt_wpftmp.AssemblyInfo.cs
obj/Debug/net6.0-windows/CourseWork_sbf4ogbt_wpftmp.AssemblyInfoInputs.cache
obj/Debug/net6.0-windows/CourseWork_sbf4ogbt_wpftmp.assets.cache
obj/Debug/net6.0-windows/CourseWork_sbf4ogbt_wpftmp.GeneratedMSBuildEditorConfig.editorconfig
obj/Debug/net6.0-windows/CourseWork_si2hwe2d_wpftmp.AssemblyInfo.cs
obj/Debug/net6.0-windows/CourseWork_si2hwe2d_wpftmp.AssemblyInfoInputs.cache
obj/Debug/net6.0-windows/CourseWork_si2hwe2d_wpftmp.assets.cache
obj/Debug/net6.0-windows/CourseWork_si2hwe2d_wpftmp.GeneratedMSBuildEditorConfig.editorconfig
obj/Debug/net6.0-windows/CourseWork_skpy5fbd_wpftmp.AssemblyInfo.cs
obj/Debug/net6.0-windows/CourseWork_skpy5fbd_wpftmp.AssemblyInfoInputs.cache
obj/Debug/net6.0-windows/CourseWork_skpy5fbd_wpftmp.assets.cache
obj/Debug/net6.0-windows/CourseWork_skpy5fbd_wpftmp.GeneratedMSBuildEditorConfig.editorconfig
obj/Debug/net6.0-windows/CourseWork_sspmsqxk_wpftmp.AssemblyInfo.cs
obj/Debug/net6.0-windows/CourseWork_sspmsqxk_wpftmp.AssemblyInfoInputs.cache
obj/Debug/net6.0-windows/CourseWork_sspmsqxk_wpftmp.assets.cache
obj/Debug/net6.0-windows/CourseWork_sspmsqxk_wpftmp.GeneratedMSBuildEditorConfig.editorconfig
obj/Debug/net6.0-windows/CourseWork_sttcxhfn_wpftmp.AssemblyInfo.cs
obj/Debug/net6.0-windows/CourseWork_sttcxhfn_wpftmp.AssemblyInfoInputs.cache
obj/Debug/net6.0-windows/CourseWork_sttcxhfn_wpftmp.assets.cache
obj/Debug/net6.0-windows/CourseWork_sttcxhfn_wpftmp.GeneratedMSBuildEditorConfig.editorconfig
obj/Debug/net6.0-windows/CourseWork_tighesc1_wpftmp.AssemblyInfo.cs
obj/Debug/net6.0-windows/CourseWork_tighesc1_wpftmp.AssemblyInfoInputs.cache
obj/Debug/net6.0-windows/CourseWork_tighesc1_wpftmp.assets.cache
obj/Debug/net6.0-windows/CourseWork_tighesc1_wpftmp.GeneratedMSBuildEditorConfig.editorconfig
obj/Debug/net6.0-windows/CourseWork_tkxo4bnr_wpftmp.AssemblyInfo.cs
obj/Debug/net6.0-windows/CourseWork_tkxo4bnr_wpftmp.AssemblyInfoInputs.cache
obj/Debug/net6.0-windows/CourseWork_tkxo4bnr_wpftmp.assets.cache
obj/Debug/net6.0-windows/CourseWork_tkxo4bnr_wpftmp.GeneratedMSBuildEditorConfig.editorconfig
obj/Debug/net6.0-windows/CourseWork_tpw3ymnu_wpftmp.AssemblyInfo.cs
obj/Debug/net6.0-windows/CourseWork_tpw3ymnu_wpftmp.AssemblyInfoInputs.cache
obj/Debug/net6.0-windows/CourseWork_tpw3ymnu_wpftmp.assets.cache
obj/Debug/net6.0-windows/CourseWork_tpw3ymnu_wpftmp.GeneratedMSBuildEditorConfig.editorconfig
obj/Debug/net6.0-windows/CourseWork_trqkcm3r_wpftmp.AssemblyInfo.cs
obj/Debug/net6.0-windows/CourseWork_trqkcm3r_wpftmp.AssemblyInfoInputs.cache
obj/Debug/net6.0-windows/CourseWork_trqkcm3r_wpftmp.assets.cache
obj/Debug/net6.0-windows/CourseWork_trqkcm3r_wpftmp.GeneratedMSBuildEditorConfig.editorconfig
obj/Debug/net6.0-windows/CourseWork_tss3nmua_wpftmp.AssemblyInfo.cs
obj/Debug/net6.0-windows/CourseWork_tss3nmua_wpftmp.AssemblyInfoInputs.cache
obj/Debug/net6.0-windows/CourseWork_tss3nmua_wpftmp.assets.cache
obj/Debug/net6.0-windows/CourseWork_tss3nmua_wpftmp.GeneratedMSBuildEditorConfig.editorconfig
obj/Debug/net6.0-windows/CourseWork_tybqezdi_wpftmp.AssemblyInfo.cs
obj/Debug/net6.0-windows/CourseWork_tybqezdi_wpftmp.AssemblyInfoInputs.cache
obj/Debug/net6.0-windows/CourseWork_tybqezdi_wpftmp.assets.cache
obj/Debug/net6.0-windows/CourseWork_tybqezdi_wpftmp.GeneratedMSBuildEditorConfig.editorconfig
obj/Debug/net6.0-windows/CourseWork_ucglfg5n_wpftmp.AssemblyInfo.cs
obj/Debug/net6.0-windows/CourseWork_ucglfg5n_wpftmp.AssemblyInfoInputs.cache
obj/Debug/net6.0-windows/CourseWork_ucglfg5n_wpftmp.assets.cache
obj/Debug/net6.0-windows/CourseWork_ucglfg5n_wpftmp.GeneratedMSBuildEditorConfig.editorconfig
obj/Debug/net6.0-windows/CourseWork_vgchtj0b_wpftmp.AssemblyInfo.cs
obj/Debug/net6.0-windows/CourseWork_vgchtj0b_wpftmp.AssemblyInfoInputs.cache
obj/Debug/net6.0-windows/CourseWork_vgchtj0b_wpftmp.assets.cache
obj/Debug/net6.0-windows/CourseWork_vgchtj0b_wpftmp.GeneratedMSBuildEditorConfig.editorconfig
obj/Debug/net6.0-windows/CourseWork_wrl0bzd5_wpftmp.AssemblyInfo.cs
obj/Debug/net6.0-windows/CourseWork_wrl0bzd5_wpftmp.AssemblyInfoInputs.cache
obj/Debug/net6.0-windows/CourseWork_wrl0bzd5_wpftmp.assets.cache
obj/Debug/net6.0-windows/CourseWork_wrl0bzd5_wpftmp.GeneratedMSBuildEditorConfig.editorconfig
obj/Debug/net6.0-windows/CourseWork_x15ta0vh_wpftmp.AssemblyInfo.cs
obj/Debug/net6.0-windows/CourseWork_x15ta0vh_wpftmp.AssemblyInfoInputs.cache
obj/Debug/net6.0-windows/CourseWork_x15ta0vh_wpftmp.assets.cache
obj/Debug/net6.0-windows/CourseWork_x15ta0vh_wpftmp.GeneratedMSBuildEditorConfig.editorconfig
obj/Debug/net6.0-windows/CourseWork_x30o32pb_wpftmp.AssemblyInfo.cs
obj/Debug/net6.0-windows/CourseWork_x30o32pb_wpftmp.AssemblyInfoInputs.cache
obj/Debug/net6.0-windows/CourseWork_x30o32pb_wpftmp.assets.cache
obj/Debug/net6.0-windows/CourseWork_x30o32pb_wpftmp.GeneratedMSBuildEditorConfig.editorconfig
obj/Debug/net6.0-windows/CourseWork_xgljdrwz_wpftmp.AssemblyInfo.cs
obj/Debug/net6.0-windows/CourseWork_xgljdrwz_wpftmp.AssemblyInfoInputs.cache
obj/Debug/net6.0-windows/CourseWork_xgljdrwz_wpftmp.assets.cache
obj/Debug/net6.0-windows/CourseWork_xgljdrwz_wpftmp.GeneratedMSBuildEditorConfig.editorconfig
obj/Debug/net6.0-windows/CourseWork_xv0ockx1_wpftmp.AssemblyInfo.cs
obj/Debug/net6.0-windows/CourseWork_xv0ockx1_wpftmp.AssemblyInfoInputs.cache
obj/Debug/net6.0-windows/CourseWork_xv0ockx1_wpftmp.assets.cache
obj/Debug/net6.0-windows/CourseWork_xv0ockx1_wpftmp.GeneratedMSBuildEditorConfig.editorconfig
obj/Debug/net6.0-windows/CourseWork_yy42kz5o_wpftmp.AssemblyInfo.cs
obj/Debug/net6.0-windows/CourseWork_yy42kz5o_wpftmp.AssemblyInfoInputs.cache
obj/Debug/net6.0-windows/CourseWork_yy42kz5o_wpftmp.assets.cache
obj/Debug/net6.0-windows/CourseWork_yy42kz5o_wpftmp.GeneratedMSBuildEditorConfig.editorconfig
obj/Debug/net6.0-windows/CourseWork_z4pohqs1_wpftmp.AssemblyInfo.cs
obj/Debug/net6.0-windows/CourseWork_z4pohqs1_wpftmp.AssemblyInfoInputs.cache
obj/Debug/net6.0-windows/CourseWork_z4pohqs1_wpftmp.assets.cache
obj/Debug/net6.0-windows/CourseWork_z4pohqs1_wpftmp.GeneratedMSBuildEditorConfig.editorconfig
obj/Debug/net6.0-windows/CourseWork_zt0z04sk_wpftmp.AssemblyInfo.cs
obj/Debug/net6.0-windows/CourseWork_zt0z04sk_wpftmp.AssemblyInfoInputs.cache
obj/Debug/net6.0-windows/CourseWork_zt0z04sk_wpftmp.assets.cache
obj/Debug/net6.0-windows/CourseWork_zt0z04sk_wpftmp.GeneratedMSBuildEditorConfig.editorconfig
obj/Debug/net6.0-windows/CourseWork_zusbh1ss_wpftmp.AssemblyInfo.cs
obj/Debug/net6.0-windows/CourseWork_zusbh1ss_wpftmp.AssemblyInfoInputs.cache
obj/Debug/net6.0-windows/CourseWork_zusbh1ss_wpftmp.assets.cache
obj/Debug/net6.0-windows/CourseWork_zusbh1ss_wpftmp.GeneratedMSBuildEditorConfig.editorconfig
obj/Debug/net6.0-windows/MainWindow.baml
obj/Debug/net6.0-windows/MainWindow.g.cs
obj/Debug/net6.0-windows/MainWindow.g.i.cs
obj/Debug/net6.0-windows/ref/CourseWork.dll
obj/project.assets.json
obj/project.nuget.cache
obj/Release/net6.0-windows/.NETCoreApp,Version=v6.0.AssemblyAttributes.cs
obj/Release/net6.0-windows/App.g.cs
obj/Release/net6.0-windows/App.g.i.cs
obj/Release/net6.0-windows/apphost.exe
obj/Release/net6.0-windows/CourseWork.AssemblyInfo.cs
obj/Release/net6.0-windows/CourseWork.AssemblyInfoInputs.cache
obj/Release/net6.0-windows/CourseWork.assets.cache
obj/Release/net6.0-windows/CourseWork.csproj.AssemblyReference.cache
obj/Release/net6.0-windows/CourseWork.csproj.CoreCompileInputs.cache
obj/Release/net6.0-windows/CourseWork.csproj.FileListAbsolute.txt
obj/Release/net6.0-windows/CourseWork.designer.deps.json
obj/Release/net6.0-windows/CourseWork.designer.runtimeconfig.json
obj/Release/net6.0-windows/CourseWork.dll
obj/Release/net6.0-windows/CourseWork.g.resources
obj/Release/net6.0-windows/CourseWork.GeneratedMSBuildEditorConfig.editorconfig
obj/Release/net6.0-windows/CourseWork.genruntimeconfig.cache
obj/Release/net6.0-windows/CourseWork.pdb
obj/Release/net6.0-windows/CourseWork_0pmm3b5y_wpftmp.AssemblyInfo.cs
obj/Release/net6.0-windows/CourseWork_0pmm3b5y_wpftmp.AssemblyInfoInputs.cache
obj/Release/net6.0-windows/CourseWork_0pmm3b5y_wpftmp.assets.cache
obj/Release/net6.0-windows/CourseWork_0pmm3b5y_wpftmp.GeneratedMSBuildEditorConfig.editorconfig
obj/Release/net6.0-windows/CourseWork_1pe43ddw_wpftmp.AssemblyInfo.cs
obj/Release/net6.0-windows/CourseWork_1pe43ddw_wpftmp.AssemblyInfoInputs.cache
obj/Release/net6.0-windows/CourseWork_1pe43ddw_wpftmp.assets.cache
obj/Release/net6.0-windows/CourseWork_1pe43ddw_wpftmp.GeneratedMSBuildEditorConfig.editorconfig
obj/Release/net6.0-windows/CourseWork_4l5mdmn4_wpftmp.AssemblyInfo.cs
obj/Release/net6.0-windows/CourseWork_4l5mdmn4_wpftmp.AssemblyInfoInputs.cache
obj/Release/net6.0-windows/CourseWork_4l5mdmn4_wpftmp.assets.cache
obj/Release/net6.0-windows/CourseWork_4l5mdmn4_wpftmp.GeneratedMSBuildEditorConfig.editorconfig
obj/Release/net6.0-windows/CourseWork_b0du4fju_wpftmp.AssemblyInfo.cs
obj/Release/net6.0-windows/CourseWork_b0du4fju_wpftmp.AssemblyInfoInputs.cache
obj/Release/net6.0-windows/CourseWork_b0du4fju_wpftmp.assets.cache
obj/Release/net6.0-windows/CourseWork_b0du4fju_wpftmp.GeneratedMSBuildEditorConfig.editorconfig
obj/Release/net6.0-windows/CourseWork_hz2sie0t_wpftmp.AssemblyInfo.cs
obj/Release/net6.0-windows/CourseWork_hz2sie0t_wpftmp.AssemblyInfoInputs.cache
obj/Release/net6.0-windows/CourseWork_hz2sie0t_wpftmp.assets.cache
obj/Release/net6.0-windows/CourseWork_hz2sie0t_wpftmp.GeneratedMSBuildEditorConfig.editorconfig
obj/Release/net6.0-windows/CourseWork_MarkupCompile.cache
obj/Release/net6.0-windows/CourseWork_MarkupCompile.i.cache
obj/Release/net6.0-windows/CourseWork_MarkupCompile.lref
obj/Release/net6.0-windows/CourseWork_s0xcqyr3_wpftmp.AssemblyInfo.cs
obj/Release/net6.0-windows/CourseWork_s0xcqyr3_wpftmp.AssemblyInfoInputs.cache
obj/Release/net6.0-windows/CourseWork_s0xcqyr3_wpftmp.assets.cache
obj/Release/net6.0-windows/CourseWork_s0xcqyr3_wpftmp.GeneratedMSBuildEditorConfig.editorconfig
obj/Release/net6.0-windows/CourseWork_yjgc45ty_wpftmp.AssemblyInfo.cs
obj/Release/net6.0-windows/CourseWork_yjgc45ty_wpftmp.AssemblyInfoInputs.cache
obj/Release/net6.0-windows/CourseWork_yjgc45ty_wpftmp.assets.cache
obj/Release/net6.0-windows/CourseWork_yjgc45ty_wpftmp.GeneratedMSBuildEditorConfig.editorconfig
obj/Release/net6.0-windows/MainWindow.baml
obj/Release/net6.0-windows/MainWindow.g.cs
obj/Release/net6.0-windows/MainWindow.g.i.cs
obj/Release/net6.0-windows/ref/CourseWork.dll
obj/Debug/net6.0-windows/CourseWork_0d3nrem1_wpftmp.AssemblyInfo.cs
obj/Debug/net6.0-windows/CourseWork_0d3nrem1_wpftmp.AssemblyInfoInputs.cache
obj/Debug/net6.0-windows/CourseWork_0d3nrem1_wpftmp.assets.cache
obj/Debug/net6.0-windows/CourseWork_0d3nrem1_wpftmp.GeneratedMSBuildEditorConfig.editorconfig
obj/Debug/net6.0-windows/CourseWork_ofp2hb3h_wpftmp.AssemblyInfo.cs
obj/Debug/net6.0-windows/CourseWork_ofp2hb3h_wpftmp.AssemblyInfoInputs.cache
obj/Debug/net6.0-windows/CourseWork_ofp2hb3h_wpftmp.assets.cache
obj/Debug/net6.0-windows/CourseWork_ofp2hb3h_wpftmp.GeneratedMSBuildEditorConfig.editorconfig
obj/Debug/net6.0-windows/CourseWork_zcgt0oar_wpftmp.AssemblyInfo.cs
obj/Debug/net6.0-windows/CourseWork_zcgt0oar_wpftmp.AssemblyInfoInputs.cache
obj/Debug/net6.0-windows/CourseWork_zcgt0oar_wpftmp.assets.cache
obj/Debug/net6.0-windows/CourseWork_zcgt0oar_wpftmp.GeneratedMSBuildEditorConfig.editorconfig
